<mat-card class="mat-elevation-z8">
    <mat-toolbar class="mat-elevation-z8" color="accent">Posts</mat-toolbar>
    <mat-card-content class="post_container mat-elevation-z8" *ngFor="let post of listPost">
        <h3>{{ post.title }}</h3>
        <p>{{ post.body }}</p>

        <details (click)="getComments(post.id)" class="post_comments">
            <summary>comments</summary>
            <div *ngFor="let comment of comments">
                <span>{{comment.email}}</span>
                <p>{{comment.body}}</p>
            </div>
        </details>
    </mat-card-content>

</mat-card>